body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: 50px 0;
    font: normal 16px/1.5 "Helvetica Neue", sans-serif;
    color: #fff; 
}
.titulo{
    text-align: center;
}
.carta{
    width: 300px;
}
.carta img{
    width: 300px;
    border-radius: 6px;
}

@supports(object-fit: cover){
    .box img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

.genaracion{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

p{
    text-align: center;
}